@font-face {
   font-family: "Gilgoy";
   src: url("../assets/fonts/gilroy-medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilgoy";
   src: url("../assets/fonts/gilroy-bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
