.container {
   display: flex;
   align-items: center;
   padding: 0 20px;
}

/* cassette */
.cassette__player {
   position: relative;
}

@keyframes discRotate {
   to {
      transform: rotate(1turn);
   }
}

.cassette__disc.active {
   animation: 6s infinite linear discRotate;
}

.cassette__disc {
   position: absolute;
   top: 71px;
}

.cassette__disc--left {
   left: 113px;
}

.cassette__disc--right {
   right: 112px;
}

.cassette__glass {
   position: absolute;
   top: 12px;
   left: 10px;
}

.cassette__button-play {
   width: 78px;
   height: 62px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   bottom: 18px;
   background-color: #cbd5e1;
   border-radius: 6px;
   border: none;
   cursor: pointer;
}

.cassette__button-play-inner {
   width: 72px;
   height: 56px;
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #334155;
   border-radius: 4px;
}

.cassette__button-play-icon {
   display: block;
   margin-left: 1px;
}

/* content */
.content__list {
   margin-left: 50px;
}

.content__item + .content__item {
   margin-top: 46px;
}

.content__wrap {
   display: flex;
}

.content__value {
   margin-left: 10px;
   line-height: 28px;
}

.content__name {
   font-size: 16px;
   font-weight: 700;
   color: #475569;
}

.content__link {
   display: block;
   font-weight: 500;
   color: #64748b;
   transition: 0.3s;
}

.content__link:hover {
   color: #475569;
}

.content__item--label > .content__wrap {
   flex-direction: column;
}

.content__item--label .label__name {
   margin-top: 8px;
   margin-left: 10px;
}

.label__links {
   margin-top: 26px;
}

.label__links .content__link {
   margin-left: 10px;
}

.label__links .content__link + .content__link {
   margin-top: 12px;
}

.content__item--song > .content__wrap + .content__wrap {
   margin-top: 12px;
}

.content__item--song .content__value {
   max-width: 300px;
}

.content__item--song .content__name,
.content__item--dev .content__name {
   padding-top: 4px;
}

.label__name {
   font-size: 32px;
   font-weight: 700;
   color: #1d4ed8;
}
