@media (max-width: 900px) {
   .container {
      flex-direction: column;
   }

   .cassette {
      order: 1;
      margin-top: 20px;
   }

   .content__list {
      margin-left: 0px;
   }

   .content__item + .content__item {
      margin-top: 35px;
   }
}

@media (max-width: 550px) {
   .container {
      padding: 0 10px;
   }

   .content__item--label > .content__wrap {
      flex-direction: row;
   }

   .content__item + .content__item {
      margin-top: 30px;
   }

   .label__name {
      font-size: 16px;
   }

   .content__item--label .label__name {
      margin-top: 0;
      margin-left: 10px;
   }

   .label__links {
      margin-top: 20px;
   }

   .cassette {
      width: 400px;
   }

   .cassette__glass {
      width: 372px;
      top: 6px;
      left: 14px;
   }

   .cassette__disc {
      width: 25px;
      top: 66px;
   }

   .cassette__disc--left {
      left: 144px;
   }

   .cassette__disc--right {
      right: 144px;
   }

   .cassette__controls {
      top: 183px;
   }
}

@media (max-width: 430px) {
   .cassette {
      width: 360px;
   }

   .cassette__glass {
      width: 336px;
      top: 5px;
      left: 13px;
   }

   .cassette__disc {
      width: 21.7px;
      top: 60px;
   }

   .cassette__disc--left {
      left: 130px;
   }

   .cassette__disc--right {
      right: 130px;
   }

   .cassette__controls {
      top: 164px;
   }

   .cassette__button-key,
   .cassette__button-key::before {
      width: 56px;
      height: 73px;
   }

   .cassette__button-key.active {
      width: 56px;
      height: 78px;
   }

   .cassette__button-key {
      margin-top: 16px;
   }

   .cassette__controls::before {
      height: 82px;
      top: 23px;
   }

   .cassette__button-name {
      font-size: 12px;
   }

   .cassette {
      margin-top: 18px;
   }

   .content__item + .content__item {
      margin-top: 24px;
   }

   .label__links {
      margin-top: 16px;
   }
}
