@media (max-width: 760px) {
   .container {
      flex-direction: column;
      align-items: flex-start;
   }

   .cassette {
      order: 1;
      margin-top: 20px;
   }

   .content__list {
      margin-left: 0px;
   }

   .content__item + .content__item {
      margin-top: 35px;
   }
}

@media (max-width: 420px) {
   .container {
      padding: 0 10px;
   }

   .content__item--label > .content__wrap {
      flex-direction: row;
   }

   .content__item + .content__item {
      margin-top: 30px;
   }

   .label__name {
      font-size: 16px;
   }

   .content__item--label .label__name {
      margin-top: 0;
      margin-left: 10px;
   }

   .label__links {
      margin-top: 20px;
   }

   .cassette {
      width: 320px;
   }

   .cassette__glass {
      width: 303px;
      top: 10px;
      left: 9px;
   }

   .cassette__disc {
      width: 27.5px;
      top: 62.5px;
   }

   .cassette__disc--left {
      left: 99px;
   }

   .cassette__disc--right {
      right: 98px;
   }

   .cassette__button-play {
      bottom: 12px;
   }
}

@media (max-width: 350px) {
   .cassette {
      width: 300px;
   }

   .cassette__glass {
      width: 284px;
      top: 9.5px;
      left: 8px;
   }

   .cassette__disc {
      width: 24.5px;
      top: 59px;
   }

   .cassette__disc--left {
      left: 93px;
   }

   .cassette__disc--right {
      right: 92px;
   }

   .cassette__button-play {
      bottom: 10px;
   }

   .cassette {
      margin-top: 18px;
   }

   .content__item + .content__item {
      margin-top: 24px;
   }

   .label__links {
      margin-top: 16px;
   }
}
